[Unit]
Description=managed-node-api

[Service]
ExecStart=/home/seb/managed-node-api/dist/main.js
Restart=always
User=monitor
Group=monitor
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/seb/managed-node-api

[Install]
WantedBy=multi-user.target
